body {
    margin:0;
}
header{
    background:skyblue;
    text-align: center;;
}
.logo {
    color:beige;
    font-size:40px;
    font-family:Anton;

}
header input {
    font-size: 20px;
    margin:20px 0px
}